body{
  background-color: black;
  color: white;
}
.nav-container {
  padding:0;
  margin:0;
 box-sizing: border-box;
 /* border: 1px solid; */
 width:100%;
 height:100px;
 display: flex;
}

.nav-link{
  color: white;
  margin-left: auto;
  margin-right: 30px;
  padding: 22px;
  gap:100px;
}

.nav-link .user-icon{
    margin-right: 50px;
}

.search-wrapper {
  position: absolute;
  top: 20px;
  right: 520px;
  width: 320px;
  z-index: 1000;
}

.search-wrapper input {
  width: 100%;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  color: #fff;
  border-radius: 4px;
}

.search-dropdown {
  background: #0f0f0f;
  border: 1px solid #333;
  margin-top: 5px;
  max-height: 240px;
  overflow-y: auto;
}

.search-dropdown li {
  padding: 10px;
  cursor: pointer;
  color: #ccc;
}

.search-dropdown li:hover {
  background: #1c1c1c;
  color: red;
}
