body{
  background-color: black;
  color: white;
}
.nav-container {
  padding:0;
  margin:0;
 box-sizing: border-box;
 /* border: 1px solid; */
 width:100%;
 height:100px;
 display: flex;
}

.nav-link{
  color: white;
  margin-left: auto;
  padding: 22px;
}